.HomePage {
    .Hero {
        @apply relative flex items-center justify-center min-h-[90dvh] w-full overflow-hidden;

        video {
            @apply absolute inset-0 w-full h-full object-cover z-0;
        }

        .mask {
            @apply absolute inset-0 bg-black/10 z-10;
        }

        .content {
            @apply relative z-20 flex flex-col items-center justify-center text-center w-full px-4;

            p {
                @apply text-white text-xl md:text-2xl max-w-2xl mx-auto drop-shadow-md mb-4;
            }

            .title{
                @apply text-white text-lg md:text-xl font-bold drop-shadow-lg mb-4 tracking-wide;
            }

            .punchline {
                @apply text-2xl md:text-5xl font-bold;
            }

            .hero_actions {
                @apply mt-8;

                a {
                    @apply font-bold tracking-wide text-gray-900 bg-white py-[16px] px-[24px] rounded-lg;
                }
            }
        }
    }
}
