@import "./globals.css";

.app_layout {
    .app_layout_container {
        @apply px-4 py-2 mx-auto;
    }

    .container {
        @apply px-4 py-2 mx-auto min-w-full;
    }

    .app_header {
        @apply grid grid-cols-1 md:grid-cols-3 items-center gap-2 py-4;

        .info {
            h2 {
                @apply text-lg font-bold;
            }

            .stats {
                @apply flex items-center gap-2;

                span {
                    @apply text-sm text-gray-600;

                    &:not(:last-child) {
                        @apply after:content-['|'] after:ml-2;
                    }
                }
            }
        }

        .search {
            @apply md:col-span-1;

            input {
                @apply border-1 border-gray-300 rounded-md px-4 py-2 w-full;
            }
        }

        .button {
            @apply md:justify-self-end;
        }
    }

    .custom_form {
        @apply px-4;

        .header {
            @apply flex items-center gap-2 bg-gray-800 text-white rounded-t-lg py-2 px-4;

            a {
                @apply text-white font-bold;
            }
        }

        form {
            @apply bg-slate-100 p-4;
        }
    }
}

@import "./components/index.css";

@import "./partials/app-navbar.css";

@import "./pages/Authentication.css";
@import "./pages/Dashboard.css";
@import "./pages/Users.css";
@import "./pages/ContactMessages.css";
