@import "./tailwind.css";

* {
    /* outline: 1px solid rgb(90, 90, 90); */
    font-family: sans-serif, Arial;
}

.image {
    @apply bg-slate-200 rounded-lg;

    img {
        @apply object-cover w-full h-full rounded-lg;
    }
}
