.Users {
    .container {
        .users_list {
            .user_name {
                @apply flex items-center gap-2;

                svg {
                    @apply stroke-green-600 w-4 h-4;
                }
            }
        }
    }
}
